<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="/css/login-stylesheet.css" rel="stylesheet">
    {{#if signupCSS}}
        <link href='/css/signup-stylesheet.css' rel='stylesheet' />
    {{/if}}
    </head>
<body>
    <span id="heading">
        <img src="/media/knowledgeBase-logo.png" width="300" height="50">
    </span>
    {{{ body }}}
</body>
</html>
