<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="/css/top-panel-stylesheet.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
    {{#if profileCSS}}
        <link href="/css/profile-stylesheet.css" rel="stylesheet">
    {{/if}}
    {{#if messageCSS}}
        <link href="/css/message-stylesheet.css" rel="stylesheet">
    {{/if}}
</head>
<body>
    {{{ body }}}
</body>
</html>
