#signup-message{
    float: left;
    clear: left;
    width: 20%;
    margin-left: 15%;
}

#signup-detail {
    padding-top: 120px;
    width: 30%;
    margin-left: 45%;
}

input{
    width: 100%;
    border: 1px lightgray solid;
    margin-bottom: 10px;
}

#about{
    height: 100px;
}

#registration-btn{
    width: 100%;
    text-align: center;
    border: 1px darkcyan solid;
    background-color: darkcyan;
    color: white;
    height: 30px;
}
