<div class="container">
    {{>top-panel-partial}}
    <div class="row">
        <!-- Left-side panel -->
        <div class="split-left">
            <ul class="convo-list">
                {{>conversation-partial}}
            </ul>    
        </div>
        <!-- Right-side panel -->
        <div class="split-right">
            <ul class="message-list">
                {{>message-partial}}
            </ul>
        </div>
    </div>
</div>