<div class="container">
    {{>top-panel-partial}}
    <div class="row">
        <!-- Left-side panel -->
        <div class="split-left">
            {{>profile-partial}}
        </div>
        <!-- Right-side panel -->
        <div class="split-right">
            <h2>All Posts</h2>
            <div class="all-posts">
                {{>post-partial}}
            </div>
        </div>
    </div>
</div>