<img id="login-image" src="/media/kb-login.jpg">

<form class="login-form" action="/login" method="POST">
    <input id="login-email" type="email" name="email" placeholder="email" required>
    <input id="login-password" type="password" name="password" placeholder="password" required>
    <button id="login-btn" type="submit">LOGIN</button>
</form>

<div class="signup-section">
    <form class="signup-form" action="/signup" method="POST"> 
        <h1 id="intro-message">Join the worlds largest community for knowledge sharing</h1>
        <span id="name">
            <input name="firstname" id="firstname" type="text" placeholder="firstname" required>
            <input name="lastname" id="lastname" type="text" placeholder="lastname" required>
        </span>
        <input name="email" id="signup-email" type="email" placeholder="email" required>
        <input name="password" id="signup-password" type="password" placeholder="password" required>
        <input name="password2" id="confirmpassword" type="password" placeholder="confirm password" required>
        <button id="signup-btn" type="submit">SIGNUP</button>
    </form>
</div>


