<div id="signup-details">
    <h1 id="signup-message">Let us know a little more about you</h1>
    <form id="signup-detail" action="/confirm-signup" method="POST"> 
        <input name="imageurl" id="imageurl" type="text" placeholder="imageurl">
        <input name="about" id="about" type="text" placeholder="a few lines about yourself ...">
        <input name="country" id="country" type="text" placeholder="country">
        <input name="dob" id="dob" type="date">
        <button id="registration-btn" type="submit">complete registration</button>
    </form>
</div>
