<div class="add-reply-section">
    <form id="addPostForm" action="/reply/{{this.postID}}" method="POST">
        <textarea class="addPostField" name="postBody" placeholder="Add your reply..." required></textarea>
        <input class="comment-btn" type="submit" value="comment" />
    </form>
</div>