<div class="search-topic-section">
    <h4>Search By Topic</h4>
    <form method="POST" action="/filter">
    <select name="postcategory">
        <option value="php">php</option>
        <option value="nodejs">nodejs</option>
        <option value="java">java</option>
        <option value="sql">sql</option>
        <option value="zend">zend</option>
    </select>
    <button type="submit">go</button>
    </form>
</div>


<h3>Latest discussions</h3>

<div class="discussions-section">
    {{>post-partial}}
</div>